//COLOR SET
$background: #373737; //topbar color
$red: #E06B65;
$yellow: #FEEB96;
$green: #99CC99;
$blue: #99CCFF;
$gray: #C4C4C4;
$black: #a55a5a;
$tan: #F7D6A4;
$beige: #EED0BE;

.topbar {
    background-color: $background;
}

#underline1 {
    background: $background;
}

#underline2 {
    background: $background;
}

#underline3 {
    background: $background;
}

#underline4 {
    background: $background;
}

#underline5 {
    background: $yellow;
    width: 15.5em;
}

#underline6 {
    background: $green;
    width: 21.75rem;
}

#underline7 {
    background: $blue;
    width: 13.7rem;
}

#underline8 {
    background: $red;
    width: 17.5rem;
}

.p1 {
    border-color: $red; //color of first teammember
}

.p2 {
    border-color: $yellow; //color of second teammember
}

.p3 {
    border-color: $green; //color of third teammember
}

.p4 {
    border-color: $blue; //color of fourth teammember
}

.p5 {
    border-color: $tan; //color of fifth teammember
}

.p6 {
    border-color: $beige; //color of sixth teammember
}

.p7 {
    border-color: $background //color of seventh teammember
}