//COLOR SET
$red: #E06B65;
$yellow: #FEEB96;
$green:#99CC99;
$blue: #99CCFF;
$gray: #787878;
$black: #202020;

// SPACING

h3 {
  font-weight: 600;
}

h4 {
  padding-top: 0;
  font-size: 1.3rem;
}

.process-img {
  padding-top: 1rem;
  padding-bottom: 1.5rem;
}

.bottom-padding {
  padding-bottom: 0.5rem;
}
