body {
  background-color: #202020;
  position: relative;
  color: white;
}

.navbar.scrolled {
  background-color: #202020 !important;
  color: white;
}

nav {
  background-color: #202020;
  color: white;
}

ul > li > a.nav-link.blog {
  color: white !important;
}

#navbarDropdownMenuLink.nav-link.dropdown-toggle {
  color: white;
}

.navbar-nav li:hover > ul.dropdown-menu {
  background-color: #202020;
  color: white;
}

#navbarDropdownMenuLink.nav-link.dropdown-toggle:hover {
  background-color: #202020;
}

.dropdown-menu {
  background-color: #202020;
}

.dropdown-item {
  color: white;
}

.dropdown-item:hover {
  color: #787878 !important;
  opacity: 1;
  background-color: #202020;
}

.navbar-toggler-icon {
  color: white;
}

#banner-div {
  background-color: #2D2D2D;
}

.carousel-multi-item .col-12 {
  float: left;
  width: 33%;
  max-width: 100%;
}

.carousel-multi-item .card img {
  border-radius: 3px;
}

.carousel {
  width: 100%;
  display: block;
  margin: auto;
}

.carousel-inner > .carousel-item {
  -webkit-transition: -webkit-transform 1.5s ease-in-out !important;
  -webkit-transition: -webkit-transform 2.2s ease-in-out !important;
  transition: -webkit-transform 2.2s ease-in-out !important;
  transition: transform 2.2s ease-in-out !important;
  transition: transform 2.2s ease-in-out, -webkit-transform 2.2s ease-in-out !important;
}

button {
  border: none;
  background: none;
  color: white;
}

#more {
  display: none;
}

#read-more {
  font-weight: bold;
  text-decoration: underline;
}

#read-more:hover {
  color: #787878;
  text-decoration: underline;
  cursor: pointer;
}

a {
  color: white;
}

.justify {
  text-align: justify;
}

h1 {
  padding-top: 2rem;
  text-align: center;
  font-weight: 600;
}

h4 {
  text-align: center;
  font-style: italic;
  font-weight: 400;
  font-size: 1.1rem;
  padding-top: 0.4rem;
  margin-bottom: 1.5rem;
}

.quote {
  text-align: left;
  color: #202020;
}

.square {
  background-color: #202020;
  border-radius: 5%;
  display: inline-block;
  position: relative;
  text-align: center;
  width: 33vw;
  height: 28vw;
}

.art-square {
  background-color: #202020;
  display: block;
  position: relative;
  text-align: center;
  width: 25vw;
  height: 25vw;
  margin-top: 4rem;
  margin-left: auto;
  margin-right: auto;
}

.square:hover {
  background-color: #DADADA;
  -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
}

.art-square:hover {
  background-color: #DADADA;
  -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
}

.blurb {
  position: absolute;
  width: 85%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 0.2rem;
  font-weight: medium;
  color: #202020;
  text-align: left;
  opacity: 0;
}

.large-text {
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  border: solid #202020;
  border-radius: 0.4em;
  padding: 0.4rem 0rem;
  background-color: #202020;
  color: white;
  width: 65%;
}

.organization {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.organization:hover {
  opacity: 0.2;
}

.artist {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
}

.artist:hover {
  opacity: 0.2;
}

.overlap {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.quoter {
  text-align: right;
}

.banner-div {
  height: 80vh;
  width: 100vw;
}

.yellow {
  background-color: #FEEB96;
}

.blue {
  background-color: #99CCFF;
}

.byline-img {
  width: auto;
  padding-top: 1.4rem;
  height: 4rem;
  padding-bottom: 0px;
  margin-bottom: 0px;
  padding-left: 0.5rem;
}

.byline {
  padding-top: 2.1rem;
  padding-left: 0.8rem;
  font-size: 0.8rem;
  width: 100%;
}

.button {
  margin-left: auto;
  margin-right: auto;
  z-index: 1;
}

footer {
  background-color: #202020;
  color: white;
  padding: 20px;
  text-align: center;
  position: relative;
  vertical-align: top;
  z-index: 1;
}

@media (min-width: 576px) {
  .square {
    height: 25vw;
    width: 35vw;
  }
}

@media (min-width: 992px) {
  .blurb {
    opacity: 1;
    font-size: 0.75rem;
  }
  .blurb:hover {
    z-index: 1;
  }
  .square {
    height: 20vw;
    width: 25vw;
  }
}

@media (min-width: 1200px) {
  .art-square {
    height: 18vw;
    width: 18vw;
  }
  .blurb {
    font-size: 1rem;
  }
}
/*# sourceMappingURL=art.css.map */