//COLOR SET
$red: #E06B65;
$yellow: #FEEB96;
$green:#99CC99;
$blue: #99CCFF;
$gray: #787878;
$light-black: #2D2D2D;
$black: #202020;
$grad-1: #436394;
$grad-2: #08102E;
$gray2: #DADADA;

body {
    background-color: $black;
    position: relative;
    color: white;
}

// NAV BAR

.navbar.scrolled {
    background-color: $black !important;
    color: white;
}

nav {
    background-color: $black;
    color: white;
}

ul > li > a.nav-link.blog {
    color: white !important;
}

#navbarDropdownMenuLink.nav-link.dropdown-toggle {
    color: white;
}

.navbar-nav li:hover > ul.dropdown-menu {
    background-color: $black;
    color: white;
}

#navbarDropdownMenuLink.nav-link.dropdown-toggle:hover{
    background-color: $black;
}

.dropdown-menu {
    background-color: $black;
}

.dropdown-item {
    color: white;
}

.dropdown-item:hover {
    color: $gray !important;
    opacity: 1;
    background-color: $black;
}

.navbar-toggler-icon {
    color: white;
}

//

// BANNER

section {
    background-color: $light-black;
}

//

// CAROUSEL

.carousel-multi-item .col-12 {
    float: left;
    width: 33%;
    max-width: 100%;
  }
    
  .carousel-multi-item .card img {
    border-radius: 3px;
    // border-color: $light-black;
  }
  
  .carousel {
    width: 100%;
    display: block;
    margin: auto;
  }
  
  .carousel-inner > .carousel-item {
    -webkit-transition: -webkit-transform 1.5s ease-in-out !important;
    -o-transition: -o-transform 1.5s ease-in-out !important;
    transition: transform 2.2s ease-in-out !important;
  }

  //

button {
   border: none;
   background: none;
   color: white;
}

#more {
    display: none;
}

#read-more {
    font-weight: bold;
    text-decoration: underline;
}

#read-more:hover {
    color: $gray;
    text-decoration: underline;
    cursor: pointer;
}

a {
    color: white;
}

.justify {
    text-align: justify;
}

h1 {
    padding-top: 2rem;
    text-align: center;
    font-weight: 600;
}

h4 {
    text-align: center;
    font-style: italic;
    font-weight: 400;
    font-size: 1.1rem;
    padding-top: 0.4rem;
    margin-bottom: 1.5rem;
}

.quote {
    text-align: left;
    color: $black;
}

.square {
    background-color: $black;
    border-radius: 5%;
    display: inline-block;
    position: relative;
    text-align: center;
    width: 33vw;
    height: 28vw;
}

.art-square {
    background-color: $black;
    display: inline-block;
    position: relative;
    text-align: center;
    width: 25vw;
    height: 25vw;
    margin-top: 4rem;
}

.square:hover {
    background-color: $gray2;
    transition-timing-function: ease-in-out;
}

.art-square:hover {
    background-color: $gray2;
    transition-timing-function: ease-in-out;
}

.blurb {
    position: absolute;
    width: 85%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1rem;
    font-weight: medium;
    color: $black;
    text-align: left;
    opacity: 0;
}

.large-text {
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    border: solid $black;
    border-radius: 0.4em;
    padding: 0.4rem 0rem;
    background-color: $black;
    color: white;
    width: 65%;
}

.organization {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.organization:hover {
    opacity: 0.2;
}

.overlap {
    position: absolute;
    display: flex;
    justify-content: center;
}

.quoter {
    text-align: right;
}

.banner-div {
    //FIXME
    height: 80vh;
    width: 100vw;
}

.yellow {
    background-color: $yellow;
}

.blue {
    background-color: $blue;
}

.byline-img {
    width: auto;
    padding-top: 1.4rem;
    height: 120%;
    padding-bottom: 0px;
    margin-bottom: 0px;
    padding-left: 0.5rem;
}

.byline {
    padding-top: 2.1rem;
    padding-left: 0.8rem;
    font-size: 0.8rem;
}

.button {
    margin-left: auto;
    margin-right: auto;
    z-index: 1;
}

// FOOTER

footer {
    background-color: #202020;
    color: white;
    padding: 20px;
    text-align: center;
    position: relative;
    vertical-align: top;
    z-index: 1;
}

//

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
    .square {
        height: 25vw;
        width: 35vw;
    }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {

    .blurb {
        opacity: 1;
    }

    .blurb:hover {
        z-index: 1;
    }

    .square {
        height: 20vw;
        width: 25vw;
    }
}