//COLOR SET
$background: #D6392E; //topbar color
$red: #E06B65;
$yellow: #FEEB96;
$green: #99CC99;
$blue: #99CCFF;
$gray: #C4C4C4;
$black: #202020;

.topbar {
    background-color: $background;
    opacity: 0.8;
}

#underline1 {
    background: $background;
}

#underline2 {
    background: $background;
}

#underline3 {
    background: $background;
}

#underline4 {
    background: $background;
}

#underline5 {
    background: $background;
    width: 14.2rem;
}

#underline6 {
    background: $background;
    width: 13.5rem;
}

#underline7 {
    background: $background;
    width: 12rem;
}

.p1 {
    border-color: $red; //color of first teammember
}

.p2 {
    border-color: $yellow; //color of second teammember
}

.p3 {
    border-color: $green; //color of third teammember
}

.p4 {
    border-color: $blue; //color of fourth teammember
}

.p5 {
    border-color: $gray; //color of fifth teammember
}
