//COLOR SET
$background: #F09B67; // topbar color
$red: #E06B65;
$yellow: #FEEB96;
$green: #99CC99;
$blue: #99CCFF;
$gray: #C4C4C4;
$black: #202020;

.topbar {
    background-color: $background;
    opacity: 0.8;
}

#underline1 {
    background: $background;
}

#underline2 {
    background: $background;
}

#underline3 {
    background: $background;
}

#underline4 {
    background: $background;
}

#underline5 {
    background: $background;
    width: 16.4rem;
}

#underline6 {
    background: $background;
    width: 14.7rem;
}

#underline7 {
    background: $background;
    width: 10.8rem;
}

.p1 {
    border-color: $red; //to color of first team member
}

.p2 {
    border-color: $yellow; //color of second team member
}

.p3 {
    border-color: $green; //color of third team member
}

.p4 {
    border-color: $blue; //color of fourth team member
}

.p5 {
    border-color: $gray; //color of fifth team member
}

.p6 {
    border-color: $black; //color of sixth teammember
}