// COLOR SET

$red: #E06B65;
$yellow: #FEEB96;
$green: #99CC99;
$blue: #99CCFF;
$navy: #0D202E;
$gray: #787878;
$black: #202020;
$grad-1: #99CCFF;
$grad-2: #E58F7C;
$grad-3: #FFD775;

hr {
    display: block;
    margin: auto;
    width: 20%;
    height: 1.2px;
    background-color: $black;
    margin-bottom: 1.5rem;
    margin-top: 0.75rem;
}

.navy-div{
    transform: translateY(-10px);
    background-color: $navy;
    height: 6rem;
}

.fp-tableCell {
    padding-top: 0;
}

// LANDING

body {
    height: fit-content;
    position: relative;
}

.landing {
    background: linear-gradient($grad-1, $grad-2, $grad-3) no-repeat;
    position: relative;
    width: 100%;
    height: auto;
    margin: 0;
}

.scene {
    width: 100%;
    height: auto;
    z-index: -1;
    bottom: 0;
}

.about {
    position: relative;
    margin-top: 2vw;
    width: 100%;
}

.txt-box {
    width: 90%;
}

.about-content {
    text-align: center;
}

p.about-txt {
    text-align: center;
    color: white;
}

.about-bg {
    position: absolute;
    width: 100%;
    height: auto;
    top: -25vw;
    z-index: -1;
}

#about-header {
    color: white;
    font-style: italic;
    text-align: center;
    padding-top: 0;
}

.about-hr {
    background-color: white;
    width: 40%;
    height: 0.8px;
}

#pillars-img {
    width: 100%;
}

#mobile-title {
    position: absolute;
    transform: translate(0, 17vh);
}

// LANDING TEXT OVERLAP

#title-box {
    position: absolute;
    transform: translate(0, 17vh);
    width: fit-content;
    display: inline;
}

.large-title-text {
    font-size: 72px;
    font-weight: 700;
}

.overlap-text {
    position: absolute;
}

.black-shadow {
    color: white;
    letter-spacing: 0.04em;
    text-shadow: -5px 4px $black;
}

.white-shadow {
    color: $black;
    letter-spacing: 0.04em;
    text-shadow: -4px 3px white;
}

.stroke-text {
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 2px $black;
    color: none;
    letter-spacing: 0.04em;
    transform: translate(5px, -113px);
}

#we-are-text {
    font-size: 40px;
    font-weight: 700;
    transform: translate(-55px, 12px);
}

#invention-text {
    position: relative;
    transform: translate(-55px, 0);
}

#corps-text {
    position: relative;
    transform: translate(230px, -20px);
}

#berkeley-ca-text {
    font-size: 32px;
    font-weight: 700;
    transform: translate();
    transform: translate(285px, -30px);
}

.red {
    color: $red;
}

.yellow {
    color: $yellow;
}

.green {
    color: $green;
}

.blue {
    color: $blue;
}

// VIEWS

h1 {
    font-size: 2.9rem;
    font-weight: 600;
}

.view-text {
    font-size: 1.4rem;
    font-style: italic;
    font-weight: 500;
    margin-left: 10%;
    margin-right: 10%
}

.blob-person {
    width: 75vw;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.featured {
    background-image: url(../img/mainscroll/featured-bg.svg);
    background-size: cover;
}

#featured-title {
    font-size: 3.1rem;
    color: white;
    text-shadow: 2px 3px 10px $gray;
    font-weight: 700;
}

#featured-button {
    background-color: rgba(255, 255, 255, 0.15);
    color: white;
    text-shadow: 0.5px 0.5px 3px $gray;
    border-color: white;
}

#featured-button:hover {
    color: $navy;
    background-color: rgba(255, 255, 255, 0.65);
}

// BLM DISMISSABLE BANNER

.alert{
    margin: 0px;
}

.blm-banner{
    color: white;
    background-color: $black;
    text-align: center;
}

.thicker{
    font-weight: 500;
}


// MEDIA QUERIES

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {

    #pillars-img {
        transform: translateY(-80px);
    }

}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {

    .txt-box {
        width: 60%;
    }


}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {


}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {



}