hr {
  display: block;
  margin: auto;
  width: 20%;
  height: 1.2px;
  background-color: #202020;
  margin-bottom: 1.5rem;
  margin-top: 0.75rem;
}

.navy-div {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
  background-color: #0D202E;
  height: 6rem;
}

.fp-tableCell {
  padding-top: 0;
}

body {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  position: relative;
}

.landing {
  background: -webkit-gradient(linear, left top, left bottom, from(#99CCFF), color-stop(#E58F7C), to(#FFD775)) no-repeat;
  background: linear-gradient(#99CCFF, #E58F7C, #FFD775) no-repeat;
  position: relative;
  width: 100%;
  height: auto;
  margin: 0;
}

.scene {
  width: 100%;
  height: auto;
  z-index: -1;
  bottom: 0;
}

.about {
  position: relative;
  margin-top: 2vw;
  width: 100%;
}

.txt-box {
  width: 90%;
}

.about-content {
  text-align: center;
}

p.about-txt {
  text-align: center;
  color: white;
}

.about-bg {
  position: absolute;
  width: 100%;
  height: auto;
  top: -25vw;
  z-index: -1;
}

#about-header {
  color: white;
  font-style: italic;
  text-align: center;
  padding-top: 0;
}

.about-hr {
  background-color: white;
  width: 40%;
  height: 0.8px;
}

#pillars-img {
  width: 100%;
}

#mobile-title {
  position: absolute;
  -webkit-transform: translate(0, 17vh);
          transform: translate(0, 17vh);
}

#title-box {
  position: absolute;
  -webkit-transform: translate(0, 17vh);
          transform: translate(0, 17vh);
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: inline;
}

.large-title-text {
  font-size: 72px;
  font-weight: 700;
}

.overlap-text {
  position: absolute;
}

.black-shadow {
  color: white;
  letter-spacing: 0.04em;
  text-shadow: -5px 4px #202020;
}

.white-shadow {
  color: #202020;
  letter-spacing: 0.04em;
  text-shadow: -4px 3px white;
}

.stroke-text {
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 2px #202020;
  color: none;
  letter-spacing: 0.04em;
  -webkit-transform: translate(5px, -113px);
          transform: translate(5px, -113px);
}

#we-are-text {
  font-size: 40px;
  font-weight: 700;
  -webkit-transform: translate(-55px, 12px);
          transform: translate(-55px, 12px);
}

#invention-text {
  position: relative;
  -webkit-transform: translate(-55px, 0);
          transform: translate(-55px, 0);
}

#corps-text {
  position: relative;
  -webkit-transform: translate(230px, -20px);
          transform: translate(230px, -20px);
}

#berkeley-ca-text {
  font-size: 32px;
  font-weight: 700;
  -webkit-transform: translate();
          transform: translate();
  -webkit-transform: translate(285px, -30px);
          transform: translate(285px, -30px);
}

.red {
  color: #E06B65;
}

.yellow {
  color: #FEEB96;
}

.green {
  color: #99CC99;
}

.blue {
  color: #99CCFF;
}

h1 {
  font-size: 2.9rem;
  font-weight: 600;
}

.view-text {
  font-size: 1.4rem;
  font-style: italic;
  font-weight: 500;
  margin-left: 10%;
  margin-right: 10%;
}

.blob-person {
  width: 75vw;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.featured {
  background-image: url(../img/mainscroll/featured-bg.svg);
  background-size: cover;
}

#featured-title {
  font-size: 3.1rem;
  color: white;
  text-shadow: 2px 3px 10px #787878;
  font-weight: 700;
}

#featured-button {
  background-color: rgba(255, 255, 255, 0.15);
  color: white;
  text-shadow: 0.5px 0.5px 3px #787878;
  border-color: white;
}

#featured-button:hover {
  color: #0D202E;
  background-color: rgba(255, 255, 255, 0.65);
}

.alert {
  margin: 0px;
}

.blm-banner {
  color: white;
  background-color: #202020;
  text-align: center;
}

.thicker {
  font-weight: 500;
}

@media (min-width: 576px) {
  #pillars-img {
    -webkit-transform: translateY(-80px);
            transform: translateY(-80px);
  }
}

@media (min-width: 768px) {
  .txt-box {
    width: 60%;
  }
}
/*# sourceMappingURL=mainscroll.css.map */