//COLOR SET
$red: #E06B65;
$yellow: #FEEB96;
$green:#99CC99;
$blue: #99CCFF;
$gray: #787878;
$black: #202020;
$grad-1: #436394;
$grad-2: #08102E;

.role {
    display: none;
    visibility: hidden;
}



