//COLOR SET
$red: #E06B65;
$yellow: #FEEB96;
$green:#99CC99;
$blue: #99CCFF;
$gray: #787878;
$black: #202020;

// SPACING

#pillars-img {
  padding-top: 1.5rem;
  padding-bottom: 1rem;
}

#founding-img {
  padding-top: 0.5rem;
  padding-bottom: 1.5rem;
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {

}