//COLOR SET
$red: #E06B65;
$yellow: #FEEB96;
$green:#99CC99;
$blue: #99CCFF;
$gray: #787878;
$black: #202020;

// BANNER

.banner {
  background-image: url(../img/our-story/our-story-banner.png);
  background-size: cover;
}


// SPACING

h4 {
  padding-top: 0;
}

#pillars-img {
  padding-top: 1.5rem;
}

#founding-img {
  padding-top: 0.5rem;
  padding-bottom: 1.5rem;
}

.bottom-padding {
  padding-bottom: 0.5rem;
}


// TEAM GALLERY

.carousel-multi-item .col-12 {
  float: left;
  width: 50%;
  max-width: 100%;
}
  
.carousel-multi-item .card img {
border-radius: 3px;
}

.carousel {
  width: 100%;
  display: block;
  margin: auto;
}

.carousel-inner > .carousel-item {
  -webkit-transition: -webkit-transform 1.5s ease-in-out !important;
  -o-transition: -o-transform 1.5s ease-in-out !important;
  transition: transform 1.5s ease-in-out !important;
}

.lightboximage  {
  display: inline-flex;
  flex-direction: column;
  text-decoration: none;
}
  
.caption {
  font-family: sans-serif;
  color: black;
  font-weight: bold;
  display: inline-block;
  padding-top: .5em;
}


// MEDIA QUERIES

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  
  .hidden-mobile {
      display: flex !important;
  }

  .two-col-img {
    margin-top: 1.2rem;
  }

}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {

  .carousel-multi-item .col-md-3 {
    float: left;
    width: 25%;
    max-width: 100%;
  }

}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {

  .carousel {
    width: 90%;
  }
  
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {

}