//COLOR SET
$red: #E06B65;
$yellow: #FEEB96;
$green:#99CC99;
$blue: #99CCFF;
$gray: #787878;
$black: #202020;
$light: #F9FCFF;
$med: #EEF7FF;
$dark: #CBE7FF;

* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.pillars1, .pillars2, .pillars3, .aboutpic1, .aboutpic2, .aboutpic3 {
  margin-bottom: 10px;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Montserrat', sans-serif;
  background: linear-gradient($light, $med, $dark);
  background-image: url(../img/about/about-clouds.svg);
  background-image: url(../img/about/about-clouds.svg), linear-gradient($light, $med, $dark);
  background-size: cover;
}

.navbar-light .navbar-nav .nav-link {
  color: $black;
}

.navbar.scrolled {
  background-color: #ffffff !important;
  -webkit-transition: background-color 200ms linear;
  transition: background-color 200ms linear;
  color: white;
}

h1 {
  text-align: center;
  font-weight: bold;
  font-style: normal;
}

h2 {
  text-align: left;
  font-style: normal;
}

h4 {
  font-weight: 600;
  font-style: italic;
  padding-bottom: 2rem;

}

h6 {
  text-align: center;
  max-width: 25em;
  margin: auto;
  padding-bottom: 4%;
  color: black;
  font-weight: .1px;
  font-style: italic;
}

figcaption {
  font-style: italic;
  font-size: small;
}

#end {
  text-align: justify;
}

#origin, .aboutpic3 {
  margin-top: 2vw;
}

.container {
  text-align: justify;
}

a {
  color: $black;
}

.disappear {
  display: none;
  visibility: hidden;
  position: fixed;
}

@media (min-width: 992px) {
  .disappear {
    display: inline;
    visibility: visible;
    position: relative;
  }
  .pillars1, .pillars2, .pillars3 {
    margin-bottom: 0;
  } 
}