// COLOR SET

$red: #E06B65;
$yellow: #FFFF99;
$yellow2: #FEEB96;
$green: #99CC99;
$blue: #99CCFF;
$gray: #787878;
$black: #202020;

$tag-blue: #CCE6FF;
$tag-yellow:#FFF6A9;
$tag-green: #CCF4D5;

.tag-blue {
  background-color: $tag-blue;
  padding: 0.12em;
  text-align: left;
  display: none;
  visibility: hidden;
}

.tag-yellow {
  background-color: $tag-yellow;
  padding: 0.12em;
  text-align: left;
  display: none;
  visibility: hidden;
}

.tag-green {
  background-color: $tag-green;
  padding: 0.12em;
  text-align: left;
  display: none;
  visibility: hidden;
}

.project-content-container img {
  width: 100%;
  padding-bottom: 1.5em;
}

.team-container>.row {
  padding-bottom: 1em;
}

.team-container p {
  font-size: 0.01rem;
  margin-bottom: 0;
}

.team-container p:nth-of-type(1) {
  font-size: 0.01rem;
}

.team-container img {
  width: 100%;
  padding-bottom: 0;
}

.center-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 85%;
}

.xs-img {
  width: 25% !important;
}

.sm-img {
  width: 50% !important;
}

.md-img {
  width: 75% !important;
}

ol,
ul {
  padding-left: 1em;
}

iframe {
  width: 100%;
}

.red-ul {
  position: relative;
  padding: 0 .5em;
}

.red-ul:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 35%;
  background-color: #E06B65;
  opacity: 0.6;
  z-index: -10;
  -webkit-transition: all .1s linear;
  transition: all .1s linear;
}

.project-overview-container p {
  font-size: 0.6rem;
}

.project-overview-container .project {
  font-size: 0.75rem;
}

figcaption {
  color: #545454;
  text-align: center;
  font-size: 0.8rem;
  width: 70%;
  padding-top: 3%;
}

.logo-container {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

#groupsource-logo {
  width: 80vw;
}

#netic-logo {
  width: 50%;
}

.img-group img:not(:last-child) {
  padding-bottom: 0;
}

#xls-embed {
  height: 30vh;
}

.bsfc-img {
  padding-bottom: 2em;
}

ol>ul {
  list-style: disc;
}

#teaminfo {
  visibility: hidden;
  display: none;

}

.web-team {
  visibility: hidden;
  display: none;
}

.mobile-team {
  visibility: visible;
  display: inline;
}

a {
  color: $black;
}

.border-radius-10 {
  border-radius: 10%;
}

.project-tile {
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.14);
  width: 95%;
  height: 100%;
  border-radius: 5%;
}

.project-tile:hover {
  opacity: 0.5;
}

.proj-section {
  color: gray;
  font-weight: 600;
}

.mobile-image-size {
  width: 30%;
  padding-top: 1rem;
}

.no-padding-mobile {
  padding-right: 0px !important;
  padding-left: 0px !important;
}

@media (min-width: 576px) {
  #teaminfo {
    visibility: hidden;
    display: none;
    font-size: .1rem;
    text-align: center;
  }

  .no-padding-mobile {
    padding-right: 15px;
    padding-left: 15px;
  }
}


@media (min-width: 768px) {
  .web-team {
    visibility: visible;
    display: inline;
  }

  .mobile-team {
    visibility: hidden;
    display: none;
  }

  .team-container p {
    font-size: 0.75rem;
  }

  .team-container p:nth-of-type(1) {
    font-size: 0.85rem;
  }

  .project-overview-container p {
    font-size: 1rem;
  }

  .project-overview-container .project {
    font-size: 1rem;
  }

  #groupsource-logo {
    width: 50vw;
  }

  #teaminfo {
    visibility: visible;
    display: inline;
    font-size: .85rem;
  }

  .project-tile {
    width: 85%;
  }
}

@media (min-width: 992px) {
  #groupsource-logo {
    width: 40vw;
  }

  #teaminfo {
    visibility: visible;
    display: inline;
  }

  .web-team {
    visibility: visible;
    display: inline;
  }

  .mobile-team {
    visibility: hidden;
    display: none;
  }

  .tag-blue {
    padding: 0.3em;
    display: inline;
    visibility: visible;
    margin-top: 10px;
    padding-top: 5px;
    border-radius: 15%;
    width: 8em;
    height: 1em;
  }

  .tag-yellow {
    padding: 0.3em;
    display: inline;
    visibility: visible;
    margin-top: 10px;
    padding-top: 5px;
    border-radius: 15%;
    width: 8em;
    height: 1em;
  }

  .tag-green {
    padding: 0.3em;
    display: inline;
    visibility: visible;
    margin-top: 10px;
    padding-top: 5px;
    border-radius: 15%;
    width: 8em;
    height: 1em;
  }
}