// COLOR SET

$red: #E06B65;
$yellow: #FEEB96;
$green: #99CC99;
$blue: #99CCFF;
$gray: #787878;
$black: #202020;

.topbar {
    color: white;
}

.col-4 {
    margin-right: 0;
    margin-left: 0;
}

.hmw {
    padding-bottom: 2rem;
}

.team-header {
    color: $black;
    padding-top: 4rem;
    padding-bottom: 1rem;
}

.mentors-header {
    padding-top: 1.5rem;
    padding-bottom: 1rem;
}

.background-header {
    padding-top: 1.5rem;
    padding-bottom: 1rem;
}

.deliverables-header {
    padding-top: 1.5rem;
    padding-bottom: 1rem;
}

.deliverable-img {
    margin-bottom: 5vw;
    margin-top: 5vw;
    margin-left: auto;
    margin-right: auto;
    width: 85%;
    object-fit: contain;
    display: flex;
    align-items: center;
}

.initials {
    padding-right: 15px;
    display: flex;
    justify-content: left;
    margin-top: 2rem;
}

.initials-img {
    height: 2.5rem;
}

.title {
    text-align: left;
}

.team-names {
    text-align: center;
    font-style: italic;
    line-height: 1.3;
}

.img-container {
    padding-bottom: 6%;
}

.row {
    padding-bottom: 0px;
}

#users {
    margin-left: auto;
    margin-right: auto;
    width: 30vw;
    height: auto;
}

.user-txt {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    max-width: 95%;
}

#proj-title {
    padding-top: 1em;
    font-weight: bolder;
    text-align: center;
    padding-bottom: 0px;
    font-size: 3rem;
}

.navbar.scrolled {
    background-color: white !important;
    -webkit-transition: background-color 200ms linear;
    transition: background-color 200ms linear;
}

#proj-answers {
    max-width: 16rem;
    font-family: 'Chivo', sans-serif;
    height: 25%;
    letter-spacing: 0.07em;
    line-height: 122%;
    font-size: 1rem;
    padding-top: 0.4rem;
}

#proj-details {
    font-family: 'Chivo', sans-serif;
    text-align: right;
    height: 20%;
    font-style: italic;
    font-size: 1.5rem;
    padding-top: 0;
}

.details {
    padding-left: 2rem;
}

h2 {
    text-align: left;
    font-weight: bold;
    font-style: italic;
    font-size: 1.5em;
    letter-spacing: 0.05rem;
}

h3 {
    text-align: left;
    padding-top: 0.5rem;
    padding-bottom: 10px;
    font-style: italic;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.4em;

}

h5 {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    max-width: 20rem;
    font-weight: lighter;
    font-style: italic;
}

#how {
    font-style: italic;
    font-weight: 600;
    color: #5B5B5B;
    margin-bottom: 30px;
}

.subtitle {
    padding-bottom: 1rem;
    padding-left: 0;
    padding-right: 0;
}

.question {
    padding-top: 15px;
    margin-bottom: 10px;
    min-height: 40px;
}

.delivtitle {
 max-width: 100%;
}

.topbar-img {
    height: 80vw;
    margin-top: 5vh;
}

#topbar-hr {
    height: 0.01rem;
    background: white;
    max-width: 25rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2rem;
    margin-top: 10px;
}

footer {
    background-color: white;
    color: $black;
    padding: 20px;
    text-align: center;
    position: relative;
    vertical-align: top;
    z-index: 1;
}

p {
    padding-top: 0px;
    margin-top: 0px;
}

.no-padding {
    padding-left: 0;
    padding-right:0;
}

.partner-link {
    color: $black;
    text-decoration: underline;
}

.user {
    font-weight: bold;
}

.p, .p1, .p2, .p3, .p4, .p5, .p6, .p7, .p8, .p9, .p10, .pspecial{
    padding-left: 10px;
    margin-bottom: 35px;
    padding-right: 10px;
}

ul {
    padding-left: 35px;
    padding-right: 10px;
}

.left {
    border-left: solid grey;
    border-left-width: medium;
}

.right {
    border-left: solid grey;
    border-left-width: medium;
}

#underline1 {
    opacity: 0.4;
    border-radius: 50px;
    width: 9rem;
    height: 20px;
    position: absolute;
    z-index: -1;
    transform: translate(-3px, -28px);
}

#underline2 {
    opacity: 0.4;
    border-radius: 50px;
    width: 9.5rem;
    height: 20px;
    position: absolute;
    z-index: -1;
    transform: translate(-3px, -28px);
}

#underline3 {
    opacity: 0.4;
    border-radius: 50px;
    width: 12rem;
    height: 20px;
    position: absolute;
    z-index: -1;
    transform: translate(-3px, -28px);
}

#underline4 {
    opacity: 0.4;
    border-radius: 50px;
    width: 12.2rem;
    height: 20px;
    position: absolute;
    z-index: -1;
    transform: translate(-3px, -28px);
}

#underline5 {
    opacity: 0.4;
    border-radius: 50px;
    width: 12.2rem;
    height: 20px;
    position: absolute;
    z-index: -1;
    transform: translate(-3px, -28px);
}

#underline6 {
    opacity: 0.4;
    border-radius: 50px;
    width: 12.2rem;
    height: 20px;
    position: absolute;
    z-index: -1;
    transform: translate(-3px, -28px);
}

#underline7 {
    opacity: 0.4;
    border-radius: 50px;
    width: 12.2rem;
    height: 20px;
    position: absolute;
    z-index: -1;
    transform: translate(-3px, -28px);
}

#underline8 {
    opacity: 0.4;
    border-radius: 50px;
    width: 12.2rem;
    height: 20px;
    position: absolute;
    z-index: -1;
    transform: translate(-3px, -28px);
}

.bubbles {
    width: 25%;
    padding-left: 1.5rem;
}

// MEDIA QUERIES

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {

    #users {
        margin: 0 auto;
        width: 30%;
        padding-bottom: 2%;
    }

    .user-txt {
        margin: 0 auto;
        width: 50vw;
    }

    #underline1 {
        width: 8.76rem;
    }

    #underline2 {
        width: 9.7rem;
    }

    #underline3 {
        width: 12.2rem;
    }

    #underline4 {
        width: 12.6rem;
    }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {

    .topbar-img {
        margin-top: 4.5rem;
        height: 40vw;
    }

    #proj-details {
        padding-bottom: 30px;
    }

    #proj-answers {
        max-width: 16rem;
        font-family: 'Chivo', sans-serif;
        height: 25%;
        padding-top: 5px;
        text-align: left;
    }

    .holder {
        margin-left: 4.5rem;
    }

    #underline1 {
        width: 8.8rem;
    }

    .subtitle {
        padding-left: 15px;
        padding-right: 15px;
    }

    .initials {
        padding-right: 0;
        display: block;
        margin-left: auto;
        margin-top: 0;
    }

    .initials-img {
        display: block;
        margin-left: auto;
        height: auto;
    }

    .title {
        text-align: left;
    }

    .underline {
        position: absolute;
    }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
    .bubbles {
        width: 5.5em;
    }

    .deliverable-img {
        width: 95%;
    }

    .small {
        width: 100%;
    }

    #users {
        margin-left: 15%;
        width: 12vw;
        height: auto;
        padding-top: 3%;
    }

    .user-txt {
        margin-left: 0;
        margin-right: auto;
        width: 20vw;
        text-align: center;
        max-width: 95%;
    }
    .right {
        border-right: solid grey;
        border-right-width: medium;
        border-left-width: 0;
    }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {

    .topbar-img {
        margin-top: 4.5rem;
        margin-bottom: 4.5rem;
    }

    .deliverable-img {
        width: 70%;
    }

    .small {
        width: 100%;
    }

    #proj-title {
        padding-top: 5rem;
    }

    .cool {
        display: flex;
        align-items: center;
    }

    #proj-answers {
        padding-bottom: 2rem;
    }

    #underline1 {
        transform: translate(-3px, -28px);
    }

    #underline2 {
        transform: translate(-3px, -28px);
    }

    #underline3 {
        transform: translate(-3px, -28px);
    }

    #underline4 {
        transform: translate(-3px, -28px);
    }
}
