@font-face {
  font-family: Darker Grotesque;
  src: url('../font/DarkerGrotesque-ExtraBold.ttf');
  font-weight: 800;
}

@font-face {
  font-family: Darker Grotesque;
  src: url('../font/DarkerGrotesque-SemiBold.ttf');
  font-weight: 600;
}

body {
  background-color: #202020;
}

a {
  color: #FFFFFF;
}

footer {
  background-color: #202020;
  color: #FFFFFF;
  padding: 20px;
  text-align: center;
  position: relative;
  vertical-align: top;
  z-index: 1;
}

/* Showcase Projects */
#showcase-projects {
  max-width: 66%;
}

.showcase-project {
  font-family: Darker Grotesque;
  font-size: 96px;
  border-bottom: 3px solid #FFFFFF;
  line-height: 120px;
}

#aila-health {
  color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #FFFFFF;
  font-weight: 800;
}

#alemany-farm {
  color: #FFFFFF;
  font-weight: 600;
}

#desi-discourse {
  text-align: right;
  color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #FFFFFF;
  font-weight: 800;
}

#philz {
  color: #FFFFFF;
  font-weight: 800;
}

#resilient-mind {
  color: #FFFFFF;
  font-weight: 600;
}

#syglass {
  color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #FFFFFF;
  font-weight: 600;
}

#the-patient-story {
  color: #FFFFFF;
  font-weight: 800;
  text-align: center;
}

@media screen and (max-width: 576px) {
  .showcase-project {
    font-size: 32px;
    line-height: 40px;
  }
}

/* Showcase Schedule */
#showcase-schedule {
  max-width: 50%;
  border: 3px solid #FFFFFF;
  border-radius: 10px;
  margin-top: 150px;
  margin-bottom: 150px;
}

.showcase-schedule-header {
  font-family: Darker Grotesque;
  font-weight: 800;
  font-size: 24px;
  color: #A93B31;
  border-bottom: 3px solid #FFFFFF;
}

.showcase-schedule-time {
  font-family: Darker Grotesque;
  font-weight: 800;
  font-size: 48px;
  color: #A93B31;
}

.showcase-schedule-event {
  font-family: Darker Grotesque;
  font-weight: 800;
  font-size: 48px;
  color: #FFFFFF;
}

@media screen and (max-width: 576px) {
  #showcase-schedule {
    max-width: 66%;
    margin-top: 50px;
    margin-bottom: 50px;
  }
  .showcase-schedule-header {
    font-size: 8px;
    padding-left: 5px;
  }

  .showcase-schedule-time {
    font-size: 16px;
    padding-left: 5px;
    padding-right: 5px;
  }

  .showcase-schedule-event {
    font-size: 16px;
    padding-left: 5px;
    padding-right: 5px;
  }


}