* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  text-align: left;
}

h2 {
  font-weight: 700;
  padding-bottom: 1rem;
  padding-top: 4rem;
  text-align: center;
}

h4 {
  text-align: center;
  font-weight: 500;
  font-style: italic;
  padding-bottom: 0.75rem;
  padding-top: 1.5rem;
}

#top-of-page {
  margin-top: 2rem;
}

a {
  color: #202020;
}

.underline {
  text-decoration: underline;
}

a:hover {
  text-decoration: none;
  color: #787878;
  -webkit-transition-timing-function: ease-in;
          transition-timing-function: ease-in;
}

.side-margins {
  margin: 0 15vw;
}

.really-centered {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.navbar.scrolled {
  background-color: white !important;
  -webkit-transition: background-color 200ms linear;
  transition: background-color 200ms linear;
  color: #202020;
}

nav {
  font-weight: 500;
  background-color: white;
  color: #202020;
}

a.nav-link.blog {
  color: #202020 !important;
  margin-right: 30px;
}

#navbarDropdownMenuLink.nav-link.dropdown-toggle {
  color: #202020;
  margin-right: 15px;
}

.navbar-nav li:hover > ul.dropdown-menu {
  display: block;
}

.bottom-border-red {
  border-bottom: solid #E06B65;
}

.bottom-border-green {
  border-bottom: solid #99CC99;
}

.bottom-border-blue {
  border-bottom: solid #99CCFF;
}

#navbarDropdownMenuLink.nav-link.dropdown-toggle:hover {
  text-decoration: none;
  color: #787878;
  -webkit-transition-timing-function: ease-in;
          transition-timing-function: ease-in;
}

a.nav-link.blog:hover {
  color: #787878 !important;
}

.dropdown-item:hover {
  color: #787878 !important;
  opacity: 1;
  background-color: white;
}

.dropdown-menu {
  border-style: none;
  border-radius: 0;
  text-align: right;
}

.navbar-toggler {
  border-style: none;
  padding-top: 15px;
}

footer {
  background-color: white;
  color: #202020;
  padding: 20px 10vw;
  text-align: center;
  margin-top: 5vw;
  z-index: 1;
}

.footer-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  font-size: 2.5rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 1;
}

.col-5ths {
  padding: 0 10px;
}

.footer-icon-1:hover {
  color: #E06B65;
}

.footer-icon-2:hover {
  color: #FEEB96;
}

.footer-icon-3:hover {
  color: #99CC99;
}

.footer-icon-4:hover {
  color: #99CCFF;
}

.footer-icon-5:hover {
  color: #E06B65;
}

.banner {
  width: 100vw;
}

.banner-img {
  width: 100vw;
  -o-object-fit: cover;
     object-fit: cover;
}

.visible-mobile {
  display: block !important;
}

.hidden-mobile {
  display: none !important;
}

.button {
  text-align: center !important;
  display: inline-block;
  font-size: 1.25vw;
  border-style: solid;
  border-color: #202020;
  border-radius: 1em;
  padding: 0.75em 2em;
  margin-top: 0.8rem;
}

.button:hover {
  cursor: pointer;
  color: white;
  background-color: #202020;
}

@media (min-width: 576px) {
  .visible-mobile {
    display: none !important;
  }
  .hidden-mobile {
    display: block !important;
  }
}

@media (min-width: 992px) {
  h2 {
    text-align: left;
  }
  h4 {
    text-align: left;
  }
  body {
    text-align: left;
  }
  .banner {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  a.nav-link.blog {
    margin-right: 0px;
  }
  #navbarDropdownMenuLink.nav-link.dropdown-toggle {
    margin-right: 0px;
  }
  .dropdown-menu {
    border-style: none;
    border-radius: 0;
    text-align: left;
  }
}
/*# sourceMappingURL=styles.css.map */